body{
    text-align: center;
}
button{
    background-color: aqua;
}
img{
    max-height: 128px;
    max-width: 128px;
}
.options{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
}